header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  border: 3px solid #F00;
}

.header__logo {
  font-size: 64px;
}

.header__navigation {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 24px;

  a:hover {
    color: #F00;
  }
}

.navigation__basket {
  background-image: url('../../assets/Icons/basket.svg');
  width: 51px;
  height: 52px;
}

.navigation__account {
  background-image: url('../../assets/Icons/person.png');
  width: 51px;
  height: 51px;
}