* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Coda;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: white;
  text-decoration: none;
}

button,
input {
  cursor: pointer;
}